.normal{
    width: 375px;
    height: 667px;
    background-image: url('../../assets/driver_page.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.back__button{
    position: absolute;
    margin-left: 9.5px;
    margin-top: 26px;
    width: 27px;
    height: 27px;
    border-radius: 13.5px;
    /* background-color: #000; */
}
.back__button:active{
    background-color: rgba(0,0,0,0.15);
}